step_delta=2.5
unit_speed=5
frame_count=8

window_h=600
window_w=600

visible_radius=100
defence_radius=50
shield_cast_time=10
shield_cooldowm_time=50
shield_discarge=1

attack_radius=7

avanposts_count=3
zerg_create_time=100
zerg_create_discarge=1
avanpost_control_radius=70

transports_count=3
transport_capability=3
flight_cooldown_time=5
flight_cooldowm_discharge=1

tampliers_count_limit=30